.header{
    grid-area: header;
    background-color: blue;
}

.content{
    grid-area: content;
    background-color: aquamarine;
}

.footer {
    grid-area: footer;
    background-color: cadetblue;
}
.nav{
    grid-area: nav;
    background-color: brown;
}

body {
    display: grid;
    width: 80%;
    height: 600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: grid;
    grid-template: 'header header'
                    'nav content'
                    'footer footer';
    background-color: antiquewhite;
    grid-gap: 15px;
    padding: 10px;
}
.container>div{
    padding: 10px;
}